@charset "UTf-8";

body{
    background-color: rgb(205,255,203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4,109,0);
}

h1#principal{
    background-color: rgb(4,109,0);
    color: white;
    text-align: center;
}

h2{
    color: rgb(51,77,49);
}

.basico{
    color: rgb(153, 57, 57);
}

.intermediario{
    color: rgb(35, 35, 104);
}

.avançado{
    color: rgb(173, 39, 144);
}